<!-- Image -->
<div class="p-5 text-center bg-image" style="background-image: url('./assets/images/cao2_fundo.jpg');" [style.height]="'400px'" [style.background-size]="'cover'">
    <div class="mask" [style.background-color]="'rgba(0,0,0,0.5)'" [style.padding]="'20px'">
        <div class="d-flax justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">O Shop que seu Pet merece.</h1>
            <h4 class="mb-3">Tratamento Especializado e Cheio de Amor!</h4>
            <a class="btn btn-outline-light btn-lg" routerLink="/sobre" role="button">Quero Conhecer!</a>
        </div>
        </div>
    </div>
</div>
  
<!-- Page Content -->
<div class="container">
    <div class="d-flex flex-row w-100">
        <div class="d-flex flex-column w-50 mt-4">
            <img class="rounded d-block mt-4" src="/assets/images/gato1_fundo.jpg" />
        </div>
        <div class="d-flex flex-column w-50 ms-4">
            <h1 class="mt-4 text-center">Serviços e Recursos Certos</h1>
            <p class="fs-5 br-par">Fornecemos a diversidade certa de serviços, brinquedos, rações e produtos farmaceuticos. Além disso, temos uma grande variedade de cosméticos e um time de pronto-atendimento especializado para complementar as necessidades de nossos clientes e de seus melhores amigos.</p>
            <p class="fs-5 br-par">Apresentamos as melhores marcas e as mais atuais tecnologias do mercado para fazer do Mangaia uma segunda casa para seu pet, apresentando conforto e segurança em um ambiente controlado.</p>
        </div>
    </div>
    
</div>