<!-- Image -->
<div class="p-5 text-center bg-image" style="background-image: url('./assets/images/cao2_fundo.jpg');" [style.height]="'400px'" [style.background-size]="'cover'">
    <div class="mask" [style.background-color]="'rgba(0,0,0,0.5)'" [style.padding]="'20px'">
        <div class="d-flax justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">O Shop que seu Pet merece.</h1>
            <h4 class="mb-3">Tratamento Especializado e Cheio de Amor!</h4>
            <a class="btn btn-outline-light btn-lg" href="#!" role="button">Quero Conhecer!</a>
        </div>
        </div>
    </div>
</div>
  
<!-- Page Content -->
<div class="container">
    <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
    <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap! Make sure to set the height
        of the logo within the HTML or using CSS. For best results, use an SVG image as your logo.</p>
</div>