<div *ngIf="!isServicoSelecionado">
    <div class="container d-flex flex-row w-100 mt-4">
        <a (click)="selecaoServico(1)" class="d-flex flex-column w-50 img-esq link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <div class="text-uppercase justify-content-center text-center mt-4">
                <h1 class="h1">Tosa</h1>
            </div>
            <img class="rounded mx-auto d-block w-75" src="/sistema-petshop/assets/images/cao_tosa.png"/>
        </a>
        <a (click)="selecaoServico(0)" class="d-flex flex-column w-50 img-dir link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <div class="text-uppercase justify-content-center text-center mt-4">
                <h1 class="h1">Banho</h1>
            </div>
            <img class="rounded mx-auto d-block w-75" src="/sistema-petshop/assets/images/cao_banho.png"/>
        </a>
    </div>
</div>
<div *ngIf="isServicoSelecionado && !isPorteSelecionado">
    <div class="container d-flex flex-row w-100 mt-4">
        <a (click)="selecaoPorte(1)" class="d-flex flex-column w-50 img-esq link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <div class="text-uppercase justify-content-center text-center mt-4">
                <h1 class="h1">Grande Porte</h1>
            </div>
            <img class="rounded mx-auto d-block w-75" src="/sistema-petshop/assets/images/grande_porte.png"/>
        </a>
        <a (click)="selecaoPorte(0)" class="d-flex flex-column w-50 img-dir link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <div class="text-uppercase justify-content-center text-center mt-4">
                <h1 class="h1">Pequeno Porte</h1>
            </div>
            <img class="rounded mx-auto d-block w-75" src="/sistema-petshop/assets/images/pequeno_porte.png"/>
        </a>
    </div>
</div>
<div class="container mt-4" *ngIf="isServicoSelecionado && isPorteSelecionado && !isDataSelecionada">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="viewCalendario" [(viewDate)]="viewDateCalendario">
                    Anterior
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDateCalendario">
                    Hoje
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="viewCalendario" [(viewDate)]="viewDateCalendario">
                    Próximo
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>{{ viewDateCalendario | calendarDate:(viewCalendario + 'ViewTitle'):locale }}</h3>
        </div>
    </div>

    <div [ngSwitch]="viewCalendario">
        <mwl-calendar-month-view (dayClicked)="cliqueDia($event.day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDateCalendario" [events]="eventosCalendario" [locale]="locale">
        </mwl-calendar-month-view>
    </div>
</div>