<div *ngIf="isLogado" class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/area-usuario/cadastro" [queryParams]="{ tipo: 'usuario' }" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Início</span>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-clock-history"></i> <span class="ms-1 d-none d-sm-inline">Histórico</span>
                        </a>
                        <ul class="collapse nav show flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/area-usuario/historico" [queryParams]="{ tipo: 'servicos' }" class="nav-link px-0"><i class="bi bi-arrow-right mx-2"></i> <span class="d-none d-sm-inline">De</span> Serviços</a>
                            </li>
                            <li>
                                <a routerLink="/area-usuario/historico" [queryParams]="{ tipo: 'loja' }" class="nav-link px-0"><i class="bi bi-arrow-right mx-2"></i> <span class="d-none d-sm-inline">De</span> Compras</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Acesso Serviços</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"><i class="bi bi-arrow-right mx-2"></i> <span class="d-none d-sm-inline">Serviço</span> Tosa</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"><i class="bi bi-arrow-right mx-2"></i> <span class="d-none d-sm-inline">Serviço</span> Banho</a>
                            </li>
                        </ul>
                    </li>
                    <hr />
                    <li>
                        <a routerLink="/area-usuario/cadastro" [queryParams]="{ tipo: 'pet' }" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-add"></i> <span class="ms-1 d-none d-sm-inline">Cadastro Pet</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/area-usuario/agenda" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Agenda</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="!isLogado" class="container text-center mt-4">
    <h1 class="h1">Você NÃO está logado!</h1>
    <p class="fs-4">Para entrar com um usuário, acesse a página de login...</p>
    <p class="fs-2">Redirecionando em {{ this.tempoEsperado.toString() }}</p>
</div>