<div *ngIf="this.isProdutoValido" class="container mt-4 w-100">
    <div class="row w-100">
        <!-- Carousel de imagens do produto -->
        <div id="produto-carousel-indicators" class="d-flex flex-column col-sm-12 col-lg-6 mt-4 carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ this.srcImagem + '.1.jpg' }}" class="d-block mx-auto" alt="Imagem 1" />
                </div>
                <div class="carousel-item">
                    <img src="{{ this.srcImagem + '.2.jpg' }}" class="d-block mx-auto" alt="Imagem 2" />
                </div>
                <div class="carousel-item">
                    <img src="{{ this.srcImagem + '.3.jpg' }}" class="d-block mx-auto" alt="Imagem 3" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#produto-carousel-indicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#produto-carousel-indicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
        <div class="d-flex flex-column mt-4 col-sm-12 col-lg-6">
            <h1 class="h1">{{ info[this.productId - 1]['titulo'] }}</h1>
            <div class="row">
                <p class="col-6 fs-5" [style.text-decoration]="'underline'">{{ info[this.productId - 1]['tipo'] }}</p>
                <p class="col-6 fs-5 text-primary"><b>Marca:</b> {{ info[this.productId - 1]['marca'] }}</p>
            </div>
            <div class="row">
                <p class="col-1 fs-4">R$</p>
                <p class="col-11 fs-1">{{ info[this.productId - 1]['valor'] | number:'1.2-2':'pt-BR' }}</p>
            </div>
            <p class="fs-6 br-par">{{ info[this.productId - 1]['descricao'][0] }}</p>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-lg-6 col-sm-12">
            <p class="fs-6 br-par mt-lg-4 mt-sm-1">{{ info[this.productId - 1]['descricao'][1] }}</p>
            <p class="fs-6 br-par mt-lg-4 mt-sm-1">{{ info[this.productId - 1]['descricao'][2] }}</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex w-100" style="gap:10px;">
                <button type="button" class="btn btn-success col-6 text-uppercase p-2"><i class="bi bi-cart px-2 h4"></i>Adicionar ao Carrinho</button>
                <button type="button" class="btn btn-success col-6 text-uppercase p-2"><i class="bi bi-bag px-2 h4"></i>Comprar</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!this.isProdutoValido" class="text-center mt-4">
    <h1 class="h1">Produto Inválido!</h1>
    <p class="fs-4">Especifique um produto válido ou volte para a <a routerLink="/loja" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-75 link-underline-opacity-100-hover">página de produtos</a>!</p>
</div>